@media screen and (max-width: 600px) {
  .place-detail-container {
    grid-template-rows: repeat(2, minmax(0, 1fr)) !important;
    grid-template-columns: none !important;
    gap: 0.5rem !important;
  }
}
