.circular-progress {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar {
  fill: none;
  stroke: #f5385d;
  border-width: 1px;
  stroke-linecap: round;
  animation: progress 4.5s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
